 body {
  padding-top: 80px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#pac-input{
	width: 100%;
	margin-bottom: 1em;
		
}
#map-canvas{
	height: 500px;
}
#mode-selector,#del-route{
    margin-top: 2em;
}
#mode-selector .glyphicon,
.marker-del-btn .glyphicon,
#del-route .glyphicon{
    font-family: 'Glyphicons Halflings';
}

#del-route{
    margin-left: 1em;
}

.marker-del-btn {
    float: right;
}

.noscrollbar {line-height:1.35;overflow:hidden;white-space:nowrap;}
.placeholder {
    min-height: 20px;
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.tile {
    margin-bottom: 5px;
}
.tile:hover{
    cursor: move;
}
.grid {
    margin-top: 1em;
}
.stop-container{
    width: 40%
}